#facebook-posts, #facebook-events, #facebook-gallery { color: black; border-top: 2px solid #888; padding-top: 20px; margin-top: 40px; }
#facebook-posts .heading, #facebook-events .heading { color: black; line-height: 29px; padding-left: 40px; background-image: url(../assets/FB-f-Logo__blue_29.png); background-repeat: no-repeat; background-position: left center;}
#facebook-posts .facebook-post { color: black; padding: 10px; margin-bottom: 10px !important; border-bottom: 2px solid #888; }
#facebook-posts .facebook-post h4 { margin-bottom: 0; }
#facebook-posts .facebook-post a { color: black; }
#facebook-posts .facebook-post a:hover { color: black; }
#facebook-posts .facebook-post figure { max-width: 60%; margin-left: 0; }
#facebook-posts .facebook-post figure img { border: 1px solid #999; padding: 5px; }
#facebook-posts .facebook-post figure figcaption { font-style: italic; }
#facebook-posts .post-icon { display: inline-block; font-size: 22px; line-height: 22px; padding-right: 10px; }
#facebook-posts .media-heading { display: inline-block; }

#facebook-events .cover-image { width: 150px; max-height: 100px; background-size: cover; color: #000; background-position-y: -5px; background-image: url(../assets/default_event_image.png); }
#facebook-events td span { display: block; }
#facebook-events .start-date { width: 100px; text-align: center; }
#facebook-events .start-date .month { text-transform: uppercase; color: red; }
#facebook-events .start-date .day, #facebook-events .details .period { color: #999; }
#facebook-events .details .name { font-weight: bold; }
#facebook-events .details .location { display: inline-block; float: right; }

.truncate { width: 250px; white-space: nowrap; overflow: hidden; text-overflow: ellipsis; }
